<div class="petPartials">
  <label>Nome:{{this.nome}}</label>
  <label>especie:{{this.especie}}</label>
  <label>raça:{{this.raça}}</label>
  <label>nascimento:{{this.nascimento}}</label>
  <label>cor:{{this.cor}}</label>
  <label>peso:{{this.peso}}</label>
  <label>dono:{{this.dono}}</label>
</div>