<div class=" text-center header">
  <h1 class="text-center header-text">Editar Dados - Pet {{pet.nome}}</h1>
</div>

<div class="signup-form">
  <form action="/pets/edit" method="post">
    <p>Preencha o formulário para editar o pet {{pet.nome}}</p>
    <hr>
    <input type="hidden" name="id" value="{{pet.id}}" />
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="fa fa-paw"></span>
          </span>
        </div>
        <input type="text" class="form-control" name="nome" value="{{pet.nome}}" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-star"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="especie" value="{{pet.especie}}" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-filter"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="raça" value="{{pet.raça}}" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
        <input type="date" class="form-control" name="nascimento" value="{{pet.nascimento}}" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-pencil"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="cor" value="{{pet.cor}}" required="required">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-heart"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="peso" value="{{pet.peso}}" required="required">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn-form text-center btn-primary btn-lg">Atualizar</button>
    </div>
  </form>
</div>