<script>
  function deleteModal(petId){
    let campoId = document.getElementById("petId");
    campoId.value = petId;
    $("#deleteModal").modal("show");
  }

  function ocultaModa(){
    $("#deleteModal").modal("hide");
  }
</script>
<div class=" text-center header">
  <h1 class="text-center header-text">Todos os Pets</h1>
</div>

<div class="espaco tabela">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Espécie</th>
        <th scope="col">Raça</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Cor</th>
        <th scope="col">Peso</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    {{#each pets}}
    <tbody>
      <tr>
        <td>{{this.nome}}</td>
        <td>{{this.especie}}</td>
        <td>{{this.raça}}</td>
        <td>{{this.nascimento}}</td>
        <td>{{this.cor}}</td>
        <td>{{this.peso}}</td>
        <td><a href="/pets/edit/{{this.id}}">{{> edit_pet}}</a></td>
        <td>
          <button type="button" onclick="deleteModal({{this.id}})">
              {{> del_pet}}
            </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<form action="/pets/remove" method="post">
  <input type="hidden" name="id" id="petId">
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Atenção</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ocultaModa()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir esse pet?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Sim, eu tenho!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ocultaModa()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>