<h1>Todos os Funcionario</h1>

<div class="tabelaFuncionarios">
    <table class="table table-dark table-sm">
        
            <thead class="thead-light">
                <tr class="test-light">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Função</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
        {{#each funcionarios}}   
            <tbody>
                <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.nome}}</td>
                <td>{{this.sobrenome}}</td>
                <td>{{this.data_nascimento}}</td>
                <td>{{this.funcao}}</td>
                <td>{{this.login}}</td>
                <td>{{this.senha}}</td>

                <td class="text-end">
                        <a href="/funcionarios/edit/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
                        <a href="/funcionarios/remove" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
                    </td>
                </tr>      
            </tbody>
        {{/each}} 
    </table>

</div>