<script>
  function deleteModal(clienteId) {
    let campoId = document.getElementById("clienteId");
    campoId.value = clienteId;
    $("#deleteModal").modal("show");
  }

  function ocultaModa() {
    $("#deleteModal").modal("hide");
  }
</script>

<div class=" text-center header">
  <h1 class="text-center header-text">Todos os Clientes</h1>
</div>

<div class="espaco tabela">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    {{#each clientes}}
    <tbody>
      <tr>
        <td>{{this.nome}}</td>
        <td>{{this.sobrenome}}</td>
        <td>{{this.data_nascimento}}</td>
        <td>{{this.cpf}}</td>
        <td><a href="/clientes/edit/{{this.id}}">{{> edit_cliente}}</a></td>
        <td>
          <button type="button" onclick="deleteModal({{this.id}})">
            {{> del_cliente}}
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form action="/clientes/remove" method="post">
  <input type="hidden" name="id" id="clienteId">
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Atenção</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ocultaModa()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir esse cliente?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Sim!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ocultaModa()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>